.template-definition-heading
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    width: 45%;
    position: fixed;
    top: 0px;
    background-color: white;
}

.title
{
    margin: 0px !important;
    font-weight: bolder;
    font-size: larger;
}

.template-definition-row{
    justify-content: flex-start;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.template-definition-card
{
    width: 90%;
    box-shadow: 0px 0px 5px grey;
    padding: 10px;
    border-radius: 10px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.template-definitions-container
{
    justify-content: flex-start;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    overflow: scroll;
    margin-top: 56px;
}

mat-form-field
{
    width: 100%;
}

.container
{
    height: 100%;
    width: 100%;
}