<h2> Add New Definition</h2>
<div>
    <h4> Select the Information Type</h4>
    <mat-form-field appearance="fill">
        <mat-label>Select The Information Type</mat-label>
        <mat-select (selectionChange)="handleTypeSelectionChange($event)">
            <mat-option *ngFor="let option of this.infoTypes" [value]="option.name">
                {{option.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <h4> Select The Item To Replace</h4>
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Name of Item To Replace</mat-label>
        <input matInput placeholder="Ex. <FirstName>">
    </mat-form-field>
</div>