<div class="scribbler-container">
    <div class="files-container">
        <p> Files Here </p>
    </div>
    <div class="template-container">
        <div class="template-definitions">
            <div class="field-template-alert">
                <h1> You need to add documents before you can load field templates</h1>
            </div>
        </div>
        <div class="button-action-container">
            <button mat-raised-button color="primary">Process Documents</button>
        </div>
    </div>
</div>