<div class="scribbler-container">
    <div class="files-container" [ngClass]="{
        'container-empty' : this.addedDocuments.length === 0
    }" appDnd (fileDrop)="handleFileDrop($event)">
        <div class="drag-indicator" *ngIf="this.addedDocuments.length === 0">
            <div class="file-icon-wrapper">
                <mat-icon aria-hidden="false" aria-label="Upload Icon" class="upload-file-icon">upload_file</mat-icon>
            </div>
            <h1> Drag & Drop Your Documents Here </h1>
        </div>
        <div class="documents-wrapper">
            <app-added-document class="document" *ngFor="let document of addedDocuments" [document]="document" [index]="addedDocuments.indexOf(document)" (onRemoveItem)="handleRemoveItem($event)"></app-added-document>
        </div>
    </div>
    <div class="template-container">
        <div class="template-definitions">
            <div class="field-template-alert">
                <h1> You need to add documents before you can load field templates</h1>
                <div class="alert-icon-wrapper">
                    <mat-icon aria-hidden="false" aria-label="Upload Icon" class="alert-icon">priority_high</mat-icon>
                </div>
            </div>
        </div>
        <div class="button-action-container">
            <button mat-raised-button color="primary" (click)="submitDocuments()">Process Documents</button>
        </div>
    </div>
</div>