.scribbler-container {
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
}

.files-container {
    background-color: #e6e6e6;
    overflow-y: scroll;

    .document {
        background-color: white;
        width: 90%;
        margin-top: 20px;
        border-radius: 20px;
    }

    .documents-wrapper {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
    }

    .drag-indicator {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .drag-indicator h1 {
        font-size: 30px;
        text-align: center;
        font-weight: 900;
        width: 350px;
    }

    .drag-indicator .upload-file-icon {
        font-size: 120px;
        color: #3d56b2;
        width: 120px;
        height: 120px;
    }

    .drag-indicator .file-icon-wrapper {
        text-align: center;
    }
}

.container-empty {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.template-container {
}

.button-action-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.field-template-alert {
    width: 70%;
    border: 1px solid gray;
    padding: 10px;
    border-radius: 28px;
    height: 225px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;

    .alert-icon {
        width: 100px;
        height: 120px;
        font-size: 120px;
        color: #ff6363;
    }
}

.template-definitions {
    height: 85vh;
}

.button-action-container {
}

.template-definitions-empty {
    display: flex;
    justify-content: center;
    align-items: center;
}
