.scribber-document
{
    display: grid;
    grid-template-columns: 20% 70% 10%;
    height: 101px;
}

.scribber-document div
{
    height: 100%;
}

.scribber-document div:nth-child(odd)
{
    display: flex;
    justify-self: center;
    align-items: center;
}