<div class="scribber-document">
    <div>
        <mat-icon id="description-icon">description</mat-icon>
    </div>
    <div class="content-info">
        <div class="title-container">
            <h3>{{document?.name}}</h3>
        </div>
        <div class="button-actions">
            <button mat-button color="primary">
                Download
                <mat-icon>file_download</mat-icon>
            </button>
            <button mat-button color="primary">
                Preview
                <mat-icon>visibility</mat-icon>
            </button>
        </div>
    </div>
    <div>
        <mat-icon>close</mat-icon>
    </div>
</div>